@model FishModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @{
                var cost = String.Format("{0:C}", Model.Cost);
            }
            @cost
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            Water Type
        </dt>
        <dd class = "col-sm-10">
            @{
                var waterType = (SampleApplication.Enumerations.WaterTypes)Model.WaterTypeId;
            }
            @waterType
            @* @Html.DisplayFor(model => model.WaterTypeId) *@
        </dd>
        <dt class = "col-sm-2">
            Aggression Level
        </dt>
        <dd class = "col-sm-10">
            @{
                var aggressionlevel = (SampleApplication.Enumerations.Aggression)Model.AggressionLevel;
            }
            @aggressionlevel
            @* @Html.DisplayFor(model => model.AggressionLevel) *@
        </dd>
        <dt class = "col-sm-2">
            Native Country
        </dt>
        <dd class = "col-sm-10">
            @{
                var country = (SampleApplication.Enumerations.Countries)Model.CountryId;
            }
            @country
            @* @Html.DisplayFor(model => model.CountryId) *@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
