@model IEnumerable<FishModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                Water Type
            </th>
            <th>
                Aggression Level
            </th>
            <th>
                Native Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var cost = String.Format("{0:C}", item.Cost);
                    }
                    @cost
                    @* $@Html.DisplayFor(modelItem => item.Cost) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @{
                        var waterType = (SampleApplication.Enumerations.WaterTypes)item.WaterTypeId;
                    }
                    @waterType
                    @* @Html.DisplayFor(modelItem => item.WaterTypeId) *@
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.AggressionLevel) *@
                    @{
                        var aggression = (SampleApplication.Enumerations.Aggression)item.AggressionLevel;
                    }
                    @* below is HTML to C# variable display from above *@
                    @aggression
                </td>
                <td>
                    @{
                        var country = (SampleApplication.Enumerations.Countries)item.CountryId;
                     }
                    @* below is HTML to C# variable display from above *@
                    @country
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FishId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FishId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FishId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
